<div>
	<p>Sort By</p>
	<div class="btn-group">
		<label ng-hide=" 'projects'		| isState" class="btn btn-info btn-sm" ng-model="currentSort" uib-btn-radio="'Projects'">Projects</label>
		<label ng-hide=" 'resources'	| isState" class="btn btn-info btn-sm" ng-model="currentSort" uib-btn-radio="'Resources'">Resources</label>
		<label ng-hide=" 'departments'	| isState" class="btn btn-info btn-sm" ng-model="currentSort" uib-btn-radio="'Departments'">Departments</label>
		<label ng-hide=" 'deadlines'	| isState" class="btn btn-info btn-sm" ng-model="currentSort" uib-btn-radio="'Deadlines'">Deadlines</label>
	</div>
</div>