<div>
	<p>Sort By</p>
	<div class="btn-group">
		<label ui-sref=".by-project" 
		ng-hide=" ('projects' | includedByState) || ('project' | includedByState )" 
		class="btn btn-info btn-xs" ng-model="currentSort" uib-btn-radio="'ProjectCount'">Project Count</label>

		<label ui-sref=".by-resource" 
		ng-hide=" ('resources' | includedByState) || ('resource' | includedByState )" 
		class="btn btn-info btn-xs" ng-model="currentSort" uib-btn-radio="'ResourceCount'">Resource Count</label>
		
		<label ui-sref=".by-department" 
		ng-hide=" ('departments' | includedByState) || ('department' | includedByState )" 
		class="btn btn-info btn-xs" ng-model="currentSort" uib-btn-radio="'DepartmentCount'">Department Count</label>

		<label ui-sref=".by-deadline" 
		ng-hide="('deadline' | includedByState )" 
		class="btn btn-info btn-xs" ng-model="currentSort" uib-btn-radio="'DeadlineDate'">Deadline Date</label>
	</div>
</div>