<div>
	<div class="well"> 
		<h1>All Departments</h1>
		<p>Sort Projects By</p>
		<div class="btn-group">
	        <label class="btn btn-primary" ui-sref="departments" ng-model="radioModel" uib-btn-radio="'true'">Nearest Due Date</label>
	        <label class="btn btn-primary active" ui-sref="departments.resources" ng-model="radioModel" uib-btn-radio="'false'">Resource Count</label>
	    </div>
	</div>
	<div ng-repeat="dept in departments | orderBy : 'name' ">
		<ul>
			<li>
				<h2>
					{{dept.name || "Untitled Department"}}
				</h2>
			</li>
			<ul class="project" ng-repeat="project in dept.projects | orderBy : 'getDeadline(project.id).date_epoch'" ng-show="dept.projects.length">
				<li>
					<h4>
						<span class="text-muted">Project:</span>
						<a ui-sref=".project({id:project.id})">{{project.name || "Untitled Project"}}</a>
					</h4>
				</li>
				<li><span class="text-muted">Due:</span> {{getDeadline_Full(project.deadlineId).date || "no deadline specified."}}</li>
				<li>
					<span class="text-muted">Resource Count:</span> {{project.resources.length}}
				</li>
			</ul>
			<ul ng-hide="dept.projects.length">
				<em>No projects.</em>
			</ul>
			<li><label class="btn btn-danger" ng-click="addBadger('ToothBrush', dept.id)">Add Badger {{dept.id}}</label></li>
		</ul>
	</div>
</div>